.background {
    background-color: white;
}

.button-container-div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}